node_modules/
.expo/
dist/
web-build/
.gradle/
**/.gradle/
**/build/
android/.gradle/
android/app/build/
android/build/
ios/build/
ios/Pods/
.git/
*.log
*.lock
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.DS_Store
